<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"     
    xmlns:context="http://www.springframework.org/schema/context"    
    xmlns:tx="http://www.springframework.org/schema/tx"    
    xmlns:aop="http://www.springframework.org/schema/aop"    
    xmlns:util="http://www.springframework.org/schema/util"    
    xmlns:orm="http://www.springframework.org/schema/orm"     
    xmlns:mvc="http://www.springframework.org/schema/mvc"    
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd    
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd    
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd    
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd    
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd    
                        http://www.springframework.org/schema/orm http://www.springframework.org/schema/orm/spring-orm-4.3.xsd    
                        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd    
    ">  
    <!-- 配置注解驱动 -->    
    <mvc:annotation-driven/>  
      
    <!-- 定义默认访问 -->    
    <mvc:view-controller path="/" view-name="forward:home"/>  
      
    <!-- 处理静态资源 -->  
   <!--  <mvc:resources location="/WEB-INF/css/" mapping="/css/**" />  
    <mvc:resources location="/WEB-INF/js/" mapping="/js/**" />   -->
      
    <!-- 配置视图解析器 -->  
    <!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">    
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>    
        <property name="contentType" value="text/html"/>          
        <property name="prefix" value="/WEB-INF/views/"/>    
        <property name="suffix" value=".jsp"/>    
    </bean>   -->
      
     
</beans>  